 footer {
  background-color: $footer-background-color;
  padding: 0px 0 50px;
  margin-bottom: -1px;

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-hover-color;
      text-decoration: underline;
    }
  }

  h2 {
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    color: $footer-header-color;
    padding: 0;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .region-footer {
    width: $footer-container-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    // BLOCK - Boomstarter в Facebook

    #block-boomstartervfacebook {
      flex: 1.5;

      button {
        border-radius: 3px;
        font-size: 11px;
        height: 20px;
        padding: 0 0 0 2px;
        padding-bottom: 1px;
        color: $facebook-button-text-color;
        background: $facebook-button-background-color;
        border: 1px solid $facebook-button-background-color;
        cursor: pointer;
        margin: 0;
        white-space: nowrap;
        font-weight: 700;
        padding: 4px;
        padding-left: 25px;

        &::before {
          background-image: url("../img/footer-facebook-icon.svg");
          width: 16px;
          height: 16px;
          margin-left: -20px;
          margin-top: -3px;
        }

        &:hover {
          background: $facebook-button-hover-background-color;
          border: 1px solid $facebook-button-hover-background-color;
        }
      }
    }

    // END BLOCK - Boomstarter в Facebook

    // BLOCK - Следуй вместе с нами
    
    #block-sleduivmestesnami {
      flex: 2;

      h2 {
        padding-left: 15px;
      }

      .menu {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        width: 420px;

        li {
          flex: 1 0 50%;
          margin: 0 0 22px;

          &::before {
            height: 23px;
            width: 23px;
          }

          a {
            padding-left: 27px;
            font-size: 14px;
            vertical-align: middle;
          }
        }
      }

      @for $i from 1 through 8 {
        li:nth-child(#{$i})::before {
          background-image: url("../img/footer-icon-#{$i}.svg");
        }
      }
    }

    // END BLOCK - Cледуй вместе с нами

    // BLOCK - Наши награды

    #block-nasinagrady {
      flex: 1;

      .menu {
        margin: 0;

        li {
          &::before {
            background-image: url("../img/footer-apple.png");
            width: 116px;
            height: 50px;
            background-size: contain;
          }

          a {
            display: none;
          }
        }
      }
    }

    // END BLOCK - Наши награды

    // BLOCK - Меню

    #block-links-on-this-site {
      padding: 20px 0;

      .menu {
        margin: 0 0 20px;
        padding: 0;

        li {
          font-size: 14px;
          display: inline-block;
          margin: 0 14px 10px 0;

          a.is-active {
            color: #999;

            &:hover {
              color: #ccc;
            }
          }
        }
      }
    }

    // END BLOCK - Меню

    // BLOCK - Copyright, Analytics

    #block-c20122017boomstarteroookraudfanding {
      width: 100%;

      .field--name-body {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 12px;
          color: #999;
          flex: 3;
        }

        a {
          flex: 1;
        }
      }
    }

    // END BLOCK - Copyright, Analytics
 
  }
}