#block-drupalbook-headmenu {
  max-width: 600px;
  float: left;

  .menu-item:first-child {
    a {
      margin-left: 40px;
    }

    &:before {
      content: '';
      position: relative;
      top: 3px;
      width: 158px;
      height: 17px;
      background: $logo 0 0 no-repeat;
      background-size: contain;
    }
  }
}

#block-drupalbook-login-menu {
  float: right;
  max-width: 70px;

  a {
    color: $login-color;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

nav {
  display: inline-block;
  vertical-align: top;
  width: inherit;
}

header {
  z-index: 9;
  margin: 0;
  height: 60px;

  .region-header {
    max-width: $container-width;
    margin: 0 auto;
    height: 60px;
  }

  .menu {
    margin: 0 auto;

    .menu-item {
      display: inline-block;
      line-height: 60px;
      padding-top: 0;

      a {
        text-decoration: none;
        color: $gray;
        padding: 0;
        margin-left: 15px;
        display: inline-block;
        vertical-align: top;
        font-weight: 700;
        font-size: 14px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  #block-drupalbook-searchform {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 14px;
    float: left;
    line-height: 60px;
    margin-left: 24px;

    input[type="search"] {
      border: none;
      outline: none;
      color: $search-placeholder-color;
      margin-top: 21px;

      &::placeholder {
        color: $search-placeholder-color;
        opacity: .6;
      }
    }

    input[type="submit"] {
      display: none;
    }

    form {
      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/search-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 15px;
        width: 15px;
        vertical-align: baseline;
        position: relative;
        top: 2px;
        left: 0;
      }
    }
  }
}

// -----

header {
  .menu {
  li:before {
    display: none;
  }
}
  #block-drupalbook-boomlogo {
    display: inline-block;
    float: left;
    line-height: 55px;
    padding-top: 5px;
  }
}


.path-frontpage {
    #block-drupalbook-boomlogo {
    display: none;

  }
  header .menu li:before {
    display: inline-block;
  }
}