footer {
  background-color: $footer-background-color;

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-hover-color;
      text-decoration: underline;
    }
  }

  h2 {
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    color: $footer-header-color;
    padding: 0;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .region-footer {
    width: $footer-container-width;
    margin: 0 auto;
    display: flex;

    // BLOCK - Boomstarter в Facebook
    #block-boomstartervfacebook {
      button {
        border-radius: 3px;
        font-size: 11px;
        height: 20px;
        padding: 0 0 0 2px;
        padding-bottom: 1px;
        color: $facebook-button-text-color;
        background: $facebook-button-background-color;
        border: 1px solid $facebook-button-background-color;
        cursor: pointer;
        margin: 0;
        white-space: nowrap;
        font-weight: 700;
        padding: 4px;
        padding-left: 25px;

        &::before {
          background-image: url("../img/footer-facebook-icon.svg");
          width: 16px;
          height: 16px;
          margin-left: -20px;
          margin-top: -3px;
        }

        &:hover {
          background: $facebook-button-hover-background-color;
          border: 1px solid $facebook-button-hover-background-color;
        }
      }
    }

    // END BLOCK - Boomstarter в Facebook

    // BLOCK - Следуй вместе с нами
    #block-sleduivmestesnami {
      .menu {
        display: flex;
        flex-wrap: wrap;

        li {
          flex: 1 0 50%;
        }
      }
    }
  }
}