::before {
  content: '';
  position: absolute;
  z-index: 9;
}

a {
  text-decoration: none;
}

h2, .users {
  color: $b2-header-color-gray;
  font-size: 28px;
  font-family: $pt-sans;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 55px 0 20px;
}

// PROJECT BLOCK


.view-main-page-view, .thirteen-region .view-main-finish {
    .views-field-field-links {
    display: inline-block;
  }
  .views-row {
    max-height: 690px;
  }

  .views-field-field-price-project {
    left: 35px;
    top: -420px;
  }

  .views-field-field-sum-sponsors {
    left: 640px;
    top: -420px;
    width: 280px;
  }

  .views-field-field-ends {
    left: 780px;
    top: -405px;
  }

  .views-field-field-social {
    left: -315px;
    top: -120px;
  }

  .views-field-uid {
    left: -40px;
    top: -240px;
  }

  .views-field-field-links {
    left: 640px;
    top: -340px;
  }
}

.thirteen-region .view-main-finish {
  .views-field-field-links {
    top: -300px;
  }
  .views-field-uid {
    top: -200px;
  }
  .views-field-field-social {
    top: -80px;
  }
}
// SUCCESSFUL PROJECT BLOCK

.view-main-finish {
  max-height: 690px;

  .views-field-field-price-project {
    left: 35px;
    top: -420px;
  }

  .views-field-field-sum-sponsors {
    left: 640px;
    top: -420px;
    width: 280px;
  }

  .views-field-field-ends {
    left: 780px;
    top: -405px;
  }

  .views-field-field-social {
    left: -320px;
    top: -220px;
  }

  .views-field-uid {
    left: -50px;
    top: -340px;
  }

  .views-field-nothing {
    position: relative;
    left: 640px;
    display: inline-block;
    top: -410px;
    max-width: 290px;
    font-size: 17px;
    line-height: 23px;
    color: #3c3c3b;

    .succes {
      margin: 29px 0 22px -40px;
      padding: 16px 0 18px 40px;
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      display: block;
      background: #84c341;
      color: #fff;
      position: relative;
      display: inline-block;
      width: 300px;

      &:after {
        content: "";
        background: url("../img/success.svg") 0 0 no-repeat;
        position: absolute;
        top: 19px;
        right: 20px;
        display: block;
        width: 26px;
        height: 18px;
      }
    }

    a {
      color: #00aeef;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .views-field-field-links {
    display: none;
  }
}

#connect_face, #connect_vk {
  background: #00aef4;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  cursor: pointer;
  width: 300px;
  height: 70px;
  margin-top: 12px;
  line-height: 62px;
  font-size: 23px;
  padding: 0 15px;
  margin-bottom: 5px;
            &:hover {
            background-color: #00bef9;
          }
}