.path-discover {
  header {
    border-bottom: 1px solid #dadada;
  }

  .region-content {
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 50px;

    .panel-2col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      .panel-panel:nth-child(1) {
        flex: 0 1 80%;
      }

      .panel-panel:nth-child(2) {
        flex: 0 1 20%;
      }

      .block-region-left {
        .block-views-blockrecommend-project-block-5 {
          .view-content {
            display: block;
            .views-row {
              width: 100%;
              border: 0;
              border-radius: 0;
              max-height: 210px;
              .views-field-field-video {
                display: inline-block;
                &:after {
                  content: "";
    border-left: 1px solid #e6e6e6;
    height: 180px;
    width: 1px;
    position: absolute;
    margin-left: 170px;
    margin-top: -88px;
                }
                iframe {
                  border-radius: 0;
                }
              }
              .views-field-title {
                padding: 5px 0;
                width: 140px;
                height: auto;
              }
              .views-field-field-mesto, .views-field-field-categogy {
                padding: 0;
                margin: 0;
                display: block;
                left: 0;
                .field-content {
                  font-size: 12px;
                  margin: 0 14px;
                }
                a {
                  font-size: 12px;
                }
                &:before {
                  height: 11px;
                  width: 11px;
                }
              }
              .views-field-title-1 {
                margin-bottom: 1.5em;
                position: relative;
    left: 200px;
    top: -170px;
                a {
                  color: #55A4F2;
                  text-decoration: none;
                  font-size: 18px;
                  line-height: 1.2;
                  font-weight: bold;
                  &:hover {
                    color: #127ee9;
                    text-decoration: underline;
                  }
                }
              }
              .views-field-body {
                position: relative;
    left: 200px;
    top: -170px;
    max-width: 500px;
                margin-bottom: 1.5em;
                display: inline-block;
    max-height: 110px;
    overflow: hidden;
                p {
                  font-size: 14px;
                  color: #444;
                  line-height: 1.5;
                  margin: 0 0 10px;
                }
                a {
                  color: #55A4F2;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }

        h2 {
          font-size: 18px;
          padding: 0;
          margin: 20px 0 30px;
        }

        .views-element-container {
          margin: 0;
        }

        .view-content {
          display: flex;
          flex-wrap: wrap;

          h3 {
            font-size: 24px;
            margin: 20px 0 1em;
            line-height: 1.2;
            font-weight: bold;
            flex: 100%;

            a {
              color: #222;

              &:visited, &:hover {
                color: #222;
              }
            }

            p {
              color: #999;
              font-weight: normal;
              margin-top: -1em;
              font-size: 16px;
              margin: 10px 0 1em;
              line-height: 1.2;
            }
          }

          .views-row {
            // flex: 0 1 30%;
            width: 210px;
            height: 390px;
            margin: 0 25px 25px 0;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 8px;

            .views-field-title {
              padding: 8px;
              text-decoration: none;
              cursor: pointer;
              line-height: 1;
              font-weight: bold;
              font-size: 18px;
              height: 24px;
              font-size: 12px;

              a {
                color: #00aef4;

                &:hover {
                  color: #0080b3;
                  text-decoration: none;
                  border-bottom: 1px solid rgba(0, 128, 179, 0.35);
                }
              }
            }

            iframe {
              border-radius: 7px 7px 0 0;
            }

            .views-field-uid {
              a {
                padding: 0 !important;
              }
            }

            .views-field-field-sponsored {
              display: inline-block;
              position: relative;
              left: 64%;
              top: -37px;
              color: #808080;
            }

            .views-field-field-complete {
              padding: 0 8px;
              color: #808080;

              .counter_discover {
                width: 190px;
                background: #ddd;
                height: 6px;
                margin-top: 0;
              }

              &:after {
                display: none;
              }
            }

            .proc, .views-field-field-price-project, .views-field-field-finish-project {
              p {
                margin: 0;
                line-height: 14px;
              }

              p:first-child {
                color: #808080;
                font-size: 12px;
                font-weight: normal;
                text-transform: lowercase;
              }

              p:last-child {
                font-weight: bold;
                margin: 0;
                font-size: 11px;
                color: #4c4c4c;
              }
            }

            .views-field-field-price-project {
              position: relative;
              left: 74px;
              top: -28px;
              display: inline-block;
            }

            .views-field-field-finish-project {
              position: relative;
              left: 91px;
              top: -28px;
              display: inline-block;
            }

            .views-field-uid a, .views-field-uid span, .views-field-field-komentarii, .views-field-field-mesto, .views-field-field-sum-sponsors, .views-field-field-ends {
              padding: 0 8px;
              font-size: 12px;
              color: #808080;
              margin: 4px 0;
            }

            .views-field-field-komentarii {
              height: 110px;
              overflow: hidden;
            }

            .views-field-field-mesto {
              // .field-content {
              //   margin-top: 70px;
              //   padding-left: 15px;
              // }
              left: 0;

              .field-content {
                font-size: 12px !important;
                margin: 0 15px;
              }

              &::before {
                content: '';
                height: 14px;
                width: 14px;
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("../img/location-icon.svg");
              }
            }

            .views-field-field-ends {
              text-align: right;
              margin-top: 20px;
            }
          }
        }

        .view-footer {
          text-align: right;
          width: 90%;

          a {
            color: #55A4F2;
            text-decoration: none;
            line-height: 12px;
            font-size: 12px;
            text-align: right;

            &:hover {
              color: #127ee9;
              text-decoration: underline;
            }

            &:before {
              display: block;
              border-bottom: 1px solid #ddd;
              height: 1px;
              width: 510px;
              margin-top: 9px;
            }
          }
        }
      }

      .block-region-right {
        margin-top: 100px;

        .views-element-container > h2::before {
          background-image: url("../img/event-icon-black.svg");
          height: 12px;
          width: 12px;
          background-repeat: no-repeat;
          margin-left: -15px;
        }

        h2 {
          margin: 0 0 10px 15px;
          line-height: 1;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 14px;
          color: #222;
          padding: 0;
        }

        .view-sidebar-discover {
          h2 {
            display: block;
            padding: 4px 10px;
            margin: 0 -10px;
            line-height: 1.2;
            text-decoration: none;
            box-sizing: border-box;
            text-transform: none;
            font-size: 15px;

            a {
              color: $sidebar-link-color;

              &:hover {
                color: $sidebar-link-hover-color;
              }
            }
          }
        }
      }
    }
  }
}