@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pt-sans/PTS55F.ttf");
}

/* line 1, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
::before {
  content: '';
  position: absolute;
  z-index: 9;
}

/* line 7, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
a {
  text-decoration: none;
}

/* line 11, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
h2, .users {
  color: #3c3c3b;
  font-size: 28px;
  font-family: "PT Sans";
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 55px 0 20px;
}

/* line 25, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-field-field-links, .thirteen-region .view-main-finish .views-field-field-links {
  display: inline-block;
}

/* line 28, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-row, .thirteen-region .view-main-finish .views-row {
  max-height: 690px;
}

/* line 32, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-field-field-price-project, .thirteen-region .view-main-finish .views-field-field-price-project {
  left: 35px;
  top: -420px;
}

/* line 37, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-field-field-sum-sponsors, .thirteen-region .view-main-finish .views-field-field-sum-sponsors {
  left: 640px;
  top: -420px;
  width: 280px;
}

/* line 43, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-field-field-ends, .thirteen-region .view-main-finish .views-field-field-ends {
  left: 780px;
  top: -405px;
}

/* line 48, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-field-field-social, .thirteen-region .view-main-finish .views-field-field-social {
  left: -315px;
  top: -120px;
}

/* line 53, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-field-uid, .thirteen-region .view-main-finish .views-field-uid {
  left: -40px;
  top: -240px;
}

/* line 58, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-page-view .views-field-field-links, .thirteen-region .view-main-finish .views-field-field-links {
  left: 640px;
  top: -340px;
}

/* line 65, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.thirteen-region .view-main-finish .views-field-field-links {
  top: -300px;
}

/* line 68, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.thirteen-region .view-main-finish .views-field-uid {
  top: -200px;
}

/* line 71, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.thirteen-region .view-main-finish .views-field-field-social {
  top: -80px;
}

/* line 77, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish {
  max-height: 690px;
}

/* line 80, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-field-price-project {
  left: 35px;
  top: -420px;
}

/* line 85, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-field-sum-sponsors {
  left: 640px;
  top: -420px;
  width: 280px;
}

/* line 91, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-field-ends {
  left: 780px;
  top: -405px;
}

/* line 96, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-field-social {
  left: -320px;
  top: -220px;
}

/* line 101, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-uid {
  left: -50px;
  top: -340px;
}

/* line 106, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-nothing {
  position: relative;
  left: 640px;
  display: inline-block;
  top: -410px;
  max-width: 290px;
  font-size: 17px;
  line-height: 23px;
  color: #3c3c3b;
}

/* line 116, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-nothing .succes {
  margin: 29px 0 22px -40px;
  padding: 16px 0 18px 40px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  display: block;
  background: #84c341;
  color: #fff;
  position: relative;
  display: inline-block;
  width: 300px;
}

/* line 130, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-nothing .succes:after {
  content: "";
  background: url("../img/success.svg") 0 0 no-repeat;
  position: absolute;
  top: 19px;
  right: 20px;
  display: block;
  width: 26px;
  height: 18px;
}

/* line 142, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-nothing a {
  color: #00aeef;
}

/* line 145, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-nothing a:hover {
  text-decoration: underline;
}

/* line 151, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.view-main-finish .views-field-field-links {
  display: none;
}

/* line 156, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
#connect_face, #connect_vk {
  background: #00aef4;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  cursor: pointer;
  width: 300px;
  height: 70px;
  margin-top: 12px;
  line-height: 62px;
  font-size: 23px;
  padding: 0 15px;
  margin-bottom: 5px;
}

/* line 176, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
#connect_face:hover, #connect_vk:hover {
  background-color: #00bef9;
}

/* line 181, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-mesto, .views-field-field-categogy {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 35%;
}

/* line 187, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-mesto .field-content, .views-field-field-categogy .field-content {
  display: inline-block;
  vertical-align: top;
  color: #808080;
  font-size: 14px;
  line-height: 22px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0 20px;
}

/* line 196, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-mesto .field-content a, .views-field-field-categogy .field-content a {
  color: #808080;
}

/* line 200, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-mesto .field-content:hover, .views-field-field-categogy .field-content:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 206, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-mesto::before, .views-field-field-categogy::before {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 4px;
}

/* line 217, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-mesto::before {
  background-image: url("../img/location-icon.svg");
}

/* line 221, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-categogy::before {
  background-image: url("../img/event-icon.svg");
}

/* line 228, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-social .field-content p {
  margin: 0;
}

/* line 231, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-social .field-content p span {
  padding-left: 30px;
}

/* line 234, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-social .field-content p span a {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  padding-left: 6px;
  padding-right: 10px;
  border: 2px solid #fff;
  border-radius: 3px;
  height: 30px;
  line-height: 27px;
  margin: 0 11px 15px 0;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #808080;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* line 251, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.views-field-field-social .field-content p span a:hover {
  color: #000;
}

/* line 260, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.face a::before, .vk a::before, .twitt a::before {
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  margin-right: 8px;
  position: relative;
  top: -1px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 275, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.face a::before {
  background-image: url("../img/fb-icon.svg");
}

/* line 279, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.face a:hover::before {
  background-image: url("../img/fb-icon-hover.svg");
}

/* line 285, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.vk a::before {
  background-image: url("../img/vk-icon.svg");
}

/* line 289, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.vk a:hover::before {
  background-image: url("../img/vk-icon-hover.svg");
}

/* line 295, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.twitt a::before {
  background-image: url("../img/tw-icon.svg");
}

/* line 299, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.twitt a:hover::before {
  background-image: url("../img/tw-icon-hover.svg");
}

/* line 304, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.fifteen-region .views-field-nothing, .seventeen-region .views-field-nothing {
  position: relative;
  display: inline-block;
  left: 220%;
  top: -400px;
}

/* line 309, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.fifteen-region .views-field-nothing #butt_share, .seventeen-region .views-field-nothing #butt_share {
  width: 130px;
  height: 30px;
  font-size: 14px;
  color: gray;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background: #fff;
  padding: 5px 10px 5px 30px;
}

/* line 321, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.fifteen-region .views-field-nothing #butt_share:hover, .seventeen-region .views-field-nothing #butt_share:hover {
  background: #f4f4f4;
  color: #3c3c3b;
}

/* line 325, /var/www/boomstarter/themes/drupalbook/scss/_global.scss */
.fifteen-region .views-field-nothing #butt_share:before, .seventeen-region .views-field-nothing #butt_share:before {
  background-image: url("../img/share.svg");
  position: absolute;
  height: 12px;
  width: 12px;
  margin-top: 3px;
  left: 8%;
}

/* line 6, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
#block-drupalbook-headmenu {
  max-width: 600px;
  float: left;
}

/* line 11, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
#block-drupalbook-headmenu .menu-item:first-child a {
  margin-left: 40px;
}

/* line 15, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
#block-drupalbook-headmenu .menu-item:first-child:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 3px;
  width: 158px;
  height: 17px;
  background: url("../img/logo.svg") 0 0 no-repeat;
  background-size: contain;
}

/* line 28, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
#block-drupalbook-login-menu {
  float: right;
  max-width: 70px;
}

/* line 32, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
#block-drupalbook-login-menu a {
  color: #00aef4;
}

/* line 35, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
#block-drupalbook-login-menu a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* line 42, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
nav {
  display: inline-block;
  vertical-align: top;
  width: inherit;
}

/* line 48, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header {
  z-index: 9;
  margin: 0;
  height: 60px;
}

/* line 53, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header .region-header {
  max-width: 980px;
  margin: 0 auto;
  height: 60px;
}

/* line 59, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header .menu {
  margin: 0 auto;
}

/* line 62, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header .menu .menu-item {
  display: inline-block;
  line-height: 60px;
  padding-top: 0;
}

/* line 67, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header .menu .menu-item a {
  text-decoration: none;
  color: #808080;
  padding: 0;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 14px;
}

/* line 77, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header .menu .menu-item a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 85, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header #block-drupalbook-searchform {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 14px;
  float: left;
  line-height: 60px;
  margin-left: 24px;
}

/* line 95, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header #block-drupalbook-searchform input[type="search"] {
  border: none;
  outline: none;
  color: #3c3c3b;
  margin-top: 21px;
}

/* line 101, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header #block-drupalbook-searchform input[type="search"]::placeholder {
  color: #3c3c3b;
  opacity: .6;
}

/* line 107, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header #block-drupalbook-searchform input[type="submit"] {
  display: none;
}

/* line 112, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
header #block-drupalbook-searchform form:before {
  content: '';
  display: inline-block;
  background-image: url(../img/search-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  vertical-align: baseline;
  position: relative;
  top: 2px;
  left: 0;
}

/* line 129, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body {
  height: 530px;
  text-align: center;
}

/* line 133, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body > p:first-child {
  margin: 0;
  clear: both;
  z-index: 9;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 35px;
  line-height: 40px;
  z-index: 2;
  text-align: center;
  font-weight: 700;
  position: relative;
  color: #fff;
  padding-top: 115px;
}

/* line 145, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body > p:nth-child(2) {
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 35px;
  line-height: 40px;
  z-index: 2;
  text-align: center;
  font-weight: 700;
  position: relative;
  color: #fff;
  margin-top: 0;
}

/* line 154, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body > p:nth-child(3) {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 530px;
  margin: 0;
  filter: blur(0px);
  overflow: hidden;
}

/* line 165, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body > p:nth-child(3):before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 530px;
  width: 100%;
  left: 0px;
  background: rgba(0, 24, 51, 0.6);
}

/* line 175, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body > p:nth-child(3) video {
  width: 100%;
  height: auto;
  left: 0;
  filter: blur(5px);
  margin: -10px;
}

/* line 185, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body .clicked:before {
  background: none !important;
}

/* line 190, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body .podvideo {
  font-size: 18px;
  line-height: 29px;
  margin: 0 auto;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  color: #fff;
  position: relative;
}

/* line 200, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body #buttonvid {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: inline-block;
  opacity: .8;
}

/* line 208, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body #buttonvid:hover {
  opacity: 1;
}

/* line 212, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body #buttonvid #playvideo {
  background: transparent;
  background-image: url("../img/play-icon.svg");
  height: 42px;
  width: 42px;
  border: none;
  padding: 0;
  outline: none;
}

/* line 222, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.first-region .field--name-body #buttonvid p {
  font-size: 13px;
  font-style: italic;
}

/* line 231, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region, .four-region, .six-region, .nine-region,
.thirteen-region {
  background: #f2f7f7;
}

/* line 235, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container, .four-region .views-element-container, .six-region .views-element-container, .nine-region .views-element-container,
.thirteen-region .views-element-container {
  margin: 0 auto;
  max-width: 980px;
}

/* line 239, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-title, .four-region .views-element-container .views-field-title, .six-region .views-element-container .views-field-title, .nine-region .views-element-container .views-field-title,
.thirteen-region .views-element-container .views-field-title {
  margin: 30px 0 0;
  line-height: 40px;
  text-align: center;
}

/* line 244, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-title a, .four-region .views-element-container .views-field-title a, .six-region .views-element-container .views-field-title a, .nine-region .views-element-container .views-field-title a,
.thirteen-region .views-element-container .views-field-title a {
  color: #00aeef;
  font-size: 28px;
  line-height: 40px;
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

/* line 252, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-title a:hover, .four-region .views-element-container .views-field-title a:hover, .six-region .views-element-container .views-field-title a:hover, .nine-region .views-element-container .views-field-title a:hover,
.thirteen-region .views-element-container .views-field-title a:hover {
  text-decoration: underline;
  color: #0080b3;
}

/* line 259, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-field-video, .four-region .views-element-container .views-field-field-video, .six-region .views-element-container .views-field-field-video, .nine-region .views-element-container .views-field-field-video,
.thirteen-region .views-element-container .views-field-field-video {
  margin-top: 30px;
  background: #fff;
  height: 360px;
  border-radius: 0 10px 10px 0;
}

/* line 266, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-field-video .field-content iframe, .four-region .views-element-container .views-field-field-video .field-content iframe, .six-region .views-element-container .views-field-field-video .field-content iframe, .nine-region .views-element-container .views-field-field-video .field-content iframe,
.thirteen-region .views-element-container .views-field-field-video .field-content iframe {
  width: 600px;
  height: 360px;
}

/* line 273, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-field-komentarii, .four-region .views-element-container .views-field-field-komentarii, .six-region .views-element-container .views-field-field-komentarii, .nine-region .views-element-container .views-field-field-komentarii,
.thirteen-region .views-element-container .views-field-field-komentarii {
  display: inline-block;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 22px 25px 31px;
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 25px;
  max-width: 600px;
  color: #3c3c3b;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 287, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-field-social, .four-region .views-element-container .views-field-field-social, .six-region .views-element-container .views-field-field-social, .nine-region .views-element-container .views-field-field-social,
.thirteen-region .views-element-container .views-field-field-social {
  position: relative;
  display: inline-block;
}

/* line 291, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.second-region .views-element-container .views-field-field-social::before, .four-region .views-element-container .views-field-field-social::before, .six-region .views-element-container .views-field-field-social::before, .nine-region .views-element-container .views-field-field-social::before,
.thirteen-region .views-element-container .views-field-field-social::before {
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  margin-right: 8px;
  position: relative;
  top: -1px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 308, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-uid {
  position: relative;
  display: inline-block;
}

/* line 313, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-uid .field-content a {
  color: #3c3c3b;
  font-weight: 700;
}

/* line 320, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-links {
  position: relative;
}

/* line 323, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-links .project_up {
  font-size: 18px;
  height: 50px;
  line-height: 46px;
  background: #00aef4;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  margin: 0;
  outline: 0;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  cursor: pointer;
}

/* line 341, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-links .project_up:hover {
  background-color: #00bef9;
}

/* line 346, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-links .foll {
  display: inline-block;
  vertical-align: middle;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  padding-left: 21px;
  margin: -3px 0 0 -5px;
  cursor: pointer;
}

/* line 357, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-links .foll .follow {
  background: transparent;
  border: none;
  color: #808080;
  padding-left: 25px;
}

/* line 363, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-links .foll .follow:hover {
  color: #3c3c3b;
  text-decoration: underline;
}

/* line 369, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-links .foll::before {
  background-image: url("../img/follow-button-icon.svg");
  position: absolute;
  height: 12px;
  width: 18px;
  margin-top: 2px;
}

/* line 379, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-ends {
  position: relative;
  width: 100px;
  margin: 0;
}

/* line 384, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-ends:before {
  background-image: url("../img/clock-icon.svg");
  height: 13px;
  width: 13px;
  background-repeat: no-repeat;
  margin-right: 8px;
  position: relative;
  top: 18px;
  left: -17px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 400, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-ends .field-content {
  font-size: 14px;
  line-height: 1.5;
  color: #3c3c3b;
}

/* line 407, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-price-project {
  display: inline-block;
  position: relative;
}

/* line 411, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-price-project .field-content {
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 45px;
  line-height: 100%;
  display: block;
  font-weight: 700;
  color: #3c3c3b;
}

/* line 421, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-sum-sponsors {
  display: inline-block;
  position: relative;
}

/* line 426, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-sum-sponsors .field-content p {
  margin: 7px 0 14px;
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
  color: #3c3c3b;
}

/* line 434, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.views-field-field-sum-sponsors .field-content p strong {
  font-weight: 300;
}

/* line 445, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.three-region {
  background-color: #fff;
}

/* line 448, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.three-region .view-content {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 50px;
}

/* line 454, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.three-region .view-content .views-field {
  margin: 0 23px;
  display: inline-block;
}

/* line 459, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.three-region .view-content .views-field .field-content p {
  margin: 0;
  font-family: "PT Sans";
}

/* line 464, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.three-region .view-content .views-field .field-content p:nth-child(1) {
  font-size: 90px;
  line-height: 52px;
  font-weight: 700;
  color: #00aef4;
  padding-bottom: 12px;
}

/* line 472, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.three-region .view-content .views-field .field-content p:nth-child(2) {
  font-size: 28px;
  line-height: 27px;
  margin: 5px 0 4px;
  font-weight: 700;
  color: #00aef4;
}

/* line 480, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.three-region .view-content .views-field .field-content p:nth-child(3) {
  font-size: 21px;
  line-height: 27px;
  color: #3c3c3b;
  font-weight: 400;
}

/* line 494, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.four-region .views-field-field-price-project {
  margin-bottom: 30px;
}

/* line 501, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region, .fifteen-region, .seventeen-region {
  width: 1060px;
  background: #fff;
  margin: 0 auto;
}

/* line 506, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content, .fifteen-region .view-content, .seventeen-region .view-content {
  display: flex;
}

/* line 509, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row:nth-child(1), .fifteen-region .view-content .views-row:nth-child(1), .seventeen-region .view-content .views-row:nth-child(1) {
  margin-left: 0;
}

/* line 513, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row:nth-child(3), .fifteen-region .view-content .views-row:nth-child(3), .seventeen-region .view-content .views-row:nth-child(3) {
  margin-right: 0;
}

/* line 517, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row, .fifteen-region .view-content .views-row, .seventeen-region .view-content .views-row {
  border-radius: 10px;
  width: 340px;
  padding: 0 20px 25px;
  margin: 20px 10px 80px;
  background: #f2f7f7;
}

/* line 524, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-title, .fifteen-region .view-content .views-row .views-field-title, .seventeen-region .view-content .views-row .views-field-title {
  padding: 0 32px;
  margin-bottom: 10px;
  height: 60px;
  text-align: center;
  background: #fff;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 534, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-title .field-content a, .fifteen-region .view-content .views-row .views-field-title .field-content a, .seventeen-region .view-content .views-row .views-field-title .field-content a {
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #00aeef;
}

/* line 541, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-title .field-content a:hover, .fifteen-region .view-content .views-row .views-field-title .field-content a:hover, .seventeen-region .view-content .views-row .views-field-title .field-content a:hover {
  color: #0080b3;
}

/* line 547, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-video, .fifteen-region .view-content .views-row .views-field-field-video, .seventeen-region .view-content .views-row .views-field-field-video {
  padding-top: 25px;
}

/* line 550, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-video .field-content, .fifteen-region .view-content .views-row .views-field-field-video .field-content, .seventeen-region .view-content .views-row .views-field-field-video .field-content {
  height: 225px;
  overflow: hidden;
}

/* line 554, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-video .field-content iframe, .fifteen-region .view-content .views-row .views-field-field-video .field-content iframe, .seventeen-region .view-content .views-row .views-field-field-video .field-content iframe {
  margin-top: -35px;
}

/* line 560, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-body, .fifteen-region .view-content .views-row .views-field-body, .seventeen-region .view-content .views-row .views-field-body {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  color: #3c3c3b;
  overflow: hidden;
  height: 100px;
}

/* line 569, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-delivery, .fifteen-region .view-content .views-row .views-field-field-delivery, .seventeen-region .view-content .views-row .views-field-field-delivery {
  margin: 0;
  margin-top: 14px;
  font-size: 12px;
}

/* line 574, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-delivery p, .fifteen-region .view-content .views-row .views-field-field-delivery p, .seventeen-region .view-content .views-row .views-field-field-delivery p {
  margin: 5px 0;
}

/* line 579, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-bought, .fifteen-region .view-content .views-row .views-field-field-bought, .seventeen-region .view-content .views-row .views-field-field-bought {
  margin: 0;
  font-size: 12px;
  font-weight: bolder;
}

/* line 585, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-price, .fifteen-region .view-content .views-row .views-field-field-price, .seventeen-region .view-content .views-row .views-field-field-price {
  float: left;
  display: inline-block;
  margin-top: 15px;
}

/* line 590, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-price .field-content, .fifteen-region .view-content .views-row .views-field-field-price .field-content, .seventeen-region .view-content .views-row .views-field-field-price .field-content {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #3c3c3b;
}

/* line 598, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-buy, .fifteen-region .view-content .views-row .views-field-field-buy, .seventeen-region .view-content .views-row .views-field-field-buy {
  display: inline-block;
  float: right;
}

/* line 603, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.five-region .view-content .views-row .views-field-field-buy .field-content a, .fifteen-region .view-content .views-row .views-field-field-buy .field-content a, .seventeen-region .view-content .views-row .views-field-field-buy .field-content a {
  background: #00aef4;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  margin: 0;
  outline: 0;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 12px;
}

/* line 629, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region, .twelw-region {
  padding-bottom: 60px;
}

/* line 632, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container, .twelw-region .views-element-container {
  width: 980px;
  margin: 0 auto;
}

/* line 636, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content, .twelw-region .views-element-container .view-content {
  display: flex;
}

/* line 639, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row, .twelw-region .views-element-container .view-content .views-row {
  width: 310px;
  height: 550px;
  margin: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* line 647, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-title, .twelw-region .views-element-container .view-content .views-row .views-field-title {
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
}

/* line 656, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-title a, .twelw-region .views-element-container .view-content .views-row .views-field-title a {
  color: #00aef4;
}

/* line 661, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-uid, .twelw-region .views-element-container .view-content .views-row .views-field-uid {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* line 666, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-uid a, .seven-region .views-element-container .view-content .views-row .views-field-uid span, .seven-region .views-element-container .view-content .views-row .views-field-field-komentarii, .seven-region .views-element-container .view-content .views-row .views-field-field-mesto, .seven-region .views-element-container .view-content .views-row .views-field-field-sum-sponsors, .seven-region .views-element-container .view-content .views-row .views-field-field-ends, .twelw-region .views-element-container .view-content .views-row .views-field-uid a, .twelw-region .views-element-container .view-content .views-row .views-field-uid span, .twelw-region .views-element-container .view-content .views-row .views-field-field-komentarii, .twelw-region .views-element-container .view-content .views-row .views-field-field-mesto, .twelw-region .views-element-container .view-content .views-row .views-field-field-sum-sponsors, .twelw-region .views-element-container .view-content .views-row .views-field-field-ends {
  padding: 0 15px;
  font-size: 14px;
  color: #808080;
  margin: 7px 0;
}

/* line 673, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-field-komentarii, .twelw-region .views-element-container .view-content .views-row .views-field-field-komentarii {
  height: 50px;
  overflow: hidden;
}

/* line 678, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-field-mesto, .twelw-region .views-element-container .view-content .views-row .views-field-field-mesto {
  left: 0;
}

/* line 685, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-field-mesto::before, .twelw-region .views-element-container .view-content .views-row .views-field-field-mesto::before {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/location-icon.svg");
}

/* line 696, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seven-region .views-element-container .view-content .views-row .views-field-field-ends, .twelw-region .views-element-container .view-content .views-row .views-field-field-ends {
  text-align: right;
  margin-top: 20px;
}

/* line 705, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eigth-region, .sixteen-region {
  background: #1a3048;
  text-align: center;
  padding: 50px 0 43px;
  width: 100%;
}

/* line 711, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eigth-region h2, .sixteen-region h2 {
  font-size: 35px;
  line-height: 39px;
  color: #fff;
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 0;
  margin-bottom: 25px;
}

/* line 721, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eigth-region p a, .sixteen-region p a {
  font-size: 18px;
  height: 50px;
  line-height: 46px;
  background: #00aef4;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 70px;
  box-sizing: border-box;
}

/* line 740, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eigth-region p a:hover, .sixteen-region p a:hover {
  background-color: #00bef9;
}

/* line 746, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region {
  padding: 40px 0 70px;
}

/* line 749, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container {
  width: 980px;
  margin: 0 auto;
}

/* line 753, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .users {
  margin-bottom: 60px;
}

/* line 758, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container #users_in:hover {
  text-decoration: underline;
}

/* line 762, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container #users_in:visited {
  color: #00aef4;
}

/* line 767, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .js-view-dom-id-65650d203f0ed5c5a76e3b1e5adb16a691f71faa6cf17b0855e1b125be415fe3 {
  display: flex;
}

/* line 771, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .views-row {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 140px;
  text-align: center;
  margin-bottom: 10px;
}

/* line 780, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .views-field-user-picture {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
}

/* line 787, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .views-field-user-picture:before {
  background-image: url("../img/avatar.svg");
  z-index: 1;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  left: 40px;
}

/* line 798, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .views-field-user-picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 9;
  position: absolute;
  left: 40px;
}

/* line 808, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .views-field-name {
  margin-top: 20px;
}

/* line 811, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.ten-region .views-element-container .views-field-name a {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #3c3c3b;
}

/* line 822, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region, .fourteen-region {
  background-color: #1a3048;
}

/* line 825, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region .block-connect-face, .fourteen-region .block-connect-face {
  background-image: url("../img/facebook-bg.svg");
}

/* line 829, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region .block-connect-vk, .fourteen-region .block-connect-vk {
  background-image: url("../img/vk-bg.svg");
}

/* line 833, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region .block, .fourteen-region .block {
  width: 980px;
  margin: 0 auto;
  color: #fff;
  background-repeat: no-repeat;
}

/* line 839, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region .block h3, .fourteen-region .block h3 {
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 35px;
  line-height: 39px;
  margin-bottom: 10px;
  font-weight: 700;
  position: relative;
  top: 70px;
  max-width: 530px;
  display: inline-block;
  margin-top: 0;
}

/* line 852, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region .block p, .fourteen-region .block p {
  position: relative;
  top: 75px;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

/* line 860, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region .block #after_butt, .eleven-region .block #after_butt_vk, .fourteen-region .block #after_butt, .fourteen-region .block #after_butt_vk {
  font-size: 13px;
  line-height: 25px;
  max-width: 300px;
}

/* line 866, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.eleven-region .block #after_butt, .eleven-region .block #after_butt_vk, .eleven-region .block #connect_face, .eleven-region .block #connect_vk, .fourteen-region .block #after_butt, .fourteen-region .block #after_butt_vk, .fourteen-region .block #connect_face, .fourteen-region .block #connect_vk {
  position: relative;
  left: 680px;
  top: -70px;
}

/* line 875, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container, .seventeen-region .views-element-container {
  width: 980px;
  margin: 0 auto;
}

/* line 889, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-row, .seventeen-region .views-element-container .view .view-content .views-row {
  height: 440px;
}

/* line 893, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-title, .seventeen-region .views-element-container .view .view-content .views-field-title {
  line-height: 30px;
  font-weight: 700;
  color: #00aef4;
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
  top: -410px;
  left: 115%;
}

/* line 904, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-title a, .seventeen-region .views-element-container .view .view-content .views-field-title a {
  font-size: 28px;
}

/* line 909, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-field-mesto, .fifteen-region .views-element-container .view .view-content .views-field-field-categogy, .seventeen-region .views-element-container .view .view-content .views-field-field-mesto, .seventeen-region .views-element-container .view .view-content .views-field-field-categogy {
  left: 120%;
  position: relative;
  overflow: hidden;
  top: -440px;
}

/* line 916, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-field-komentarii, .seventeen-region .views-element-container .view .view-content .views-field-field-komentarii {
  position: relative;
  left: 120%;
  top: -410px;
  width: 500px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 40px;
  color: #3c3c3b;
}

/* line 927, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-uid, .seventeen-region .views-element-container .view .view-content .views-field-uid {
  display: inline-block;
  position: relative;
  left: 150%;
  top: -400px;
}

/* line 933, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-uid a, .seventeen-region .views-element-container .view .view-content .views-field-uid a {
  font-size: 14px;
  line-height: 16px;
  color: #3c3c3b;
  font-weight: 700;
}

/* line 941, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-field-social, .seventeen-region .views-element-container .view .view-content .views-field-field-social {
  position: relative;
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 0 17px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  bottom: auto;
  margin-top: 16px;
  width: 400px;
  z-index: 99;
  left: -180px;
  background: #fff;
  display: none;
  position: relative;
  left: 180%;
  top: -380px;
}

/* line 942, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-field-social span, .seventeen-region .views-element-container .view .view-content .views-field-field-social span {
  padding-left: 10px;
}

/* line 945, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-field-social span a, .seventeen-region .views-element-container .view .view-content .views-field-field-social span a {
  border: none;
  margin-top: 15px;
}

/* line 968, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.fifteen-region .views-element-container .view .view-content .views-field-field-social::before, .seventeen-region .views-element-container .view .view-content .views-field-field-social::before {
  width: 20px;
  height: 20px;
  top: 0;
  box-shadow: -3px -3px 10px -2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  background: #fff;
  display: block;
}

/* line 986, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seventeen-region .view-content {
  display: block;
}

/* line 987, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seventeen-region .view-content .views-row {
  margin: 50px 0;
}

/* line 993, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seventeen-region .view-content .views-field-title {
  text-align: left !important;
  width: 500px;
}

/* line 997, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seventeen-region .view-content .views-field-field-categogy,
.seventeen-region .view-content .views-field-field-mesto {
  top: -400px !important;
}

/* line 1002, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seventeen-region .view-content .views-field-field-komentarii {
  top: -370px !important;
}

/* line 1005, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seventeen-region .view-content .views-field-uid {
  top: -370px !important;
}

/* line 1008, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
.seventeen-region .view-content .views-field-nothing {
  top: -370px !important;
}

/* line 1016, /var/www/boomstarter/themes/drupalbook/scss/style.scss */
body.user-logged-in .first-region .field--name-body > p:nth-child(3) {
  top: 0;
}

/*# sourceMappingURL=../css/style.map */