<div class="discover_page">
	<div class="first-region">
  	{{ content.first }}
	</div>
	<div class="second-region">
  	{{ content.second }}
	</div>
	<div class="third-region">
  	{{ content.third }}
	</div>
	<div class="right-region">
  	{{ content.right_sidebar }}
	</div>
</div>