<div>	
	{% for item in nodes %}
		<p>{{ item.getTitle() }}</p>
		{% set type = item.field_promotion_type.entity %}
	  <p>{{ type.label() }}</p>
	  <p>{{ item.Owner.name.value }}</p>
	  {% set date = item.createdtime|format_date('long') %}
	  <p>{{ date }}</p><hr/>
	{% endfor %}
</div>
