@mixin position-left {
  left: 50%;
  transform: translate(-50%);
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin header-font {
  font-family: $pt-sans, 'Helvetica Neue', 'Helvetica',Arial,sans-serif;
  font-size: 35px;
  line-height: 40px;
  z-index: 2;
  text-align: center;
  font-weight: 700;

}

@mixin button-reset {
  border: 0;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@mixin button {
    background: $button-bg-color;
    border-radius: 6px;
    border: 2px solid transparent;
    color: $button-text-color;
    display: inline-block;
    height: 40px;
    line-height: 36px;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      text-decoration: none;
      background-color: $button-hover-bg-color;
      color: $button-text-hover-color;
    }
}
